body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0 auto;
}
#header {
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    height: 300px;
}
.Introduccion {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: teal;
    padding-top: 100px;
}
#navegacion {
    display: flex;
    flex-flow: column nowrap;
    height: 130px;
    margin-top: 30px;
}
.menu {
    display: flex;
    flex-flow: column nowrap;
}
.menu ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-around;
}
.menu li {
    background-color: teal;
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;

}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.menu a:hover {
    color: chocolate;
}
.seccion {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 300px;
    margin-top: 35px;
}
.seccion h3 {
    font-size: 35px;
    color: teal;
}
.seccion p {
    font-size: 20px;
    font-weight: bold;
}
#footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    justify-content: center;
}
#footer h3 {
    font-size: 30px;
    color: white;
    height: 130px;
    padding-top: 80px;
}